//
// Base styles //
//
html, body {
	width: 100%;
	height: 100%;
}
body {
	overflow-x: hidden;
	position: relative;
	z-index: 1;
	background: black;
	width: auto;
	min-height: 100%;
}

:root {
	--bs-dark-rgb: 24, 26, 28;
}

.container {
	padding: 0 20px;
}

//
// Image //
//
img {
	width: auto;
	max-width: 100%;
	height: auto;
}


//
// Hero section //
//
.hero-section {
	padding: 80px 0;
}
@include breakpoint-less(lg) {
	.hero-section {
		padding: 70px 0;
	}
}
@include breakpoint-less(md) {
	.hero-section {
		padding: 60px 0;
	}
}

.hero-heading {
	font-size: 3rem;
}
@include breakpoint-above(md) {
	.hero-heading {
		font-size: 4.5rem;
	}
}
@include breakpoint-above(lg) {
	.hero-heading {
		font-size: 5.5rem;
	}
}
@include breakpoint-above(xl) {
	.hero-heading {
		font-size: 6rem;
	}
}

.hero-avatar {
	margin-top: -40px;
	@include breakpoint-above(lg) {
		margin-top: -60px;
	}
	img {
		width: 320px;
		height: 320px;
		border-radius: 50%;
	}
	@include breakpoint-less(lg) {
		img {
			width: 100%;
			height: auto;
		}
	}
	@include breakpoint-less(md) {
		margin-top: -30px;
		img {
			width: 270px;
			height: 270px;
		}
	}
	@include breakpoint-less(sm) {
		margin-top: -20px;
		img {
			width: 240px;
			height: 240px;
		}
	}
}


//
// Sections //
//
.section-box {
	padding: 0 20px;
}
@include breakpoint-above(lg) {
	.section-box {
		padding: 0 30px;
	}
}
@include breakpoint-above(xl) {
	.section-box {
		padding: 0 40px;
	}
}
@include breakpoint-above(2xl) {
	.section-box {
		padding: 0 50px;
	}
}
@include breakpoint-above(3xl) {
	.section-box {
		padding: 0 60px;
	}
}

.section {
	overflow: hidden;
	padding: 60px 0;
	margin-top: 20px;
}
.section-sm {
	overflow: hidden;
	padding: 50px 0;
	margin-top: 15px;
}
@include breakpoint-less(lg) {
	.section {
		padding: 50px 0;
		margin-top: 15px;
	}
	.section-sm {
		padding: 40px 0;
		margin-top: 10px;
	}
}

//
// Text Link Hover //
//
.link-hover {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	span {
		display: block;
		position: relative;
		color: transparent;
		&:before, &:after {
			content: attr(data-text);
			position: absolute;
			left: 0;
			color: white;
			@include transition(ease-out 0.16s);
		}
		&:before {
			top: 0;
		}
		&:after {
			visibility: hidden;
			opacity: 0;
			top: 100%;
		}
	}
	&:hover {
		&:before {
			opacity: 0.4;
			@include transform(translateY(-50%) scale(2.7));
		}
		span {
			&:before {
				visibility: hidden;
				opacity: 0;
				top: -100%;
			}
			&:after {
				visibility: visible;
				opacity: 1;
				top: 0;
			}
		}
	}
}


//
// Cursor //
//
@include breakpoint-less(md) {
	#cursor {
		display: none;
	}
}
@include breakpoint-above(lg) {
	#cursor {
		z-index: 999;
		position: absolute;
		@include transform(translate(-50%, -50%));
		background: white;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		mix-blend-mode: difference;
		pointer-events: none;
		@include transition(linear 0.08s);
		&.scale-cursor {
			@include transform(translate(-50%, -50%) scale(5));
			opacity: 0.15;
		}
	}
}


//
// Scroll To Top //
//
.scrolltotop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	@include transform(translateY(20px));
	z-index: 991;
	visibility: hidden;
	opacity: 0;
	@include transition(ease-out 0.12s);
	&.show {
		@include transform(translateY(0));
		visibility: visible;
		opacity: 1;
	}
}
@include breakpoint-above(lg) {
	.scrolltotop {
		right: 30px;
	}
}
@include breakpoint-above(xl) {
	.scrolltotop {
		right: 40px;
	}
}
@include breakpoint-above(2xl) {
	.scrolltotop {
		right: 50px;
	}
}
@include breakpoint-above(3xl) {
	.scrolltotop {
		right: 60px;
	}
}